<!DOCTYPE html>
<html>
<head>
    <title>BackingTracks to Improvise</title>
    <object th:include="fragmentos :: fragmentoHead" th:remove="tag"></object>
</head>
<body>

<header>
    <h1>BackingTracks to Improvise</h1>
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#catalog">Catalog</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>

</header>
    <div id="breadcrumb">
        <!-- Aquí va el camino de migas -->
    </div>
<main>
    <!-- Contenido principal -->
</main>
<footer>
    <p>Alberto Banet Masa @ 2023</p>
</footer>

</body>
</html>
